.receipt-wrapper {
    margin-top: 10px;
    max-width: 100%;
    font-size: 18px;
    padding: 15px 15px 30px;
}

.receipt-wrapper, .receipt-title {
    background-color: white;
    text-align: center;
}

.receipt-title {
    font-size: 28px;
    font-weight: 700;
    padding: 15px 15px 25px;
}

.receipt-items {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px 0;
    grid-template-columns: 170px 45px 75px;
}

.receipt-item-name {
    text-align: left;
    text-overflow: ellipsis;
}

.receipt-item-amount {
    text-align: left;
}

.receipt-item-cost, .receipt-total-cost {
    color: #24c486;
    text-align: right;
}

.receipt-item-cost {
    font-weight: 700;
}

.receipt-total {
    max-width: 300px;
    font-weight: 700;
    border-top: 1px solid #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}