* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
  }
  
  :root {
    --bg-color-1: #FFFFFF;
    --bg-color-2: #F2F8FF;
    --bg-color-3: #89a2cf;
    --bg-color-4: #f3f3f3;
    --text-color-1: #FFFFFF;
    --text-color-2: #000000;
    --text-color-3: #565656;
    --main-color: #355592;
    --main-color-2: #F69814;
  }
  
  html {
    overflow-x: hidden;
    font-size: 62.5%;
  }
  
  body {
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
  }