body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #f4f4f4;
    text-align: center;
    padding: 0.5em 0;
}
nav {
    text-align: center;
    margin-bottom: 10px;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f4f4f4;
}
main h2{
    color: #333;
    margin-left: 40px;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.posts h2 {
    text-align: center;
}
.posts article {
    width: 300px;
}
article {
    width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #666;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}
footer {
    background-color: #333;
    text-align: center;
    color: #f4f4f4;
    padding: 5px;
}