.items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px 10px;
}

.item-wrapper {
    max-width: 100%;
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding: 20px 15px;
}

.item-img {
    display: block;
    margin: 15px auto;
    height: 120px;
    max-width: 100%;
    object-fit: contain;
    user-select: none;
}

.item-name {
    font-size: 22px;
    font-weight: 700;
}

.item-price {
    font-size: 20px;
    color: #24c486;
}

.item-controls {
    font-size: 20px;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;
    margin-top: 25px;
}

.item-sell {
    background: linear-gradient(180deg, #f53b82, #f53b57);
}

.item-buy {
    background: linear-gradient(180deg, #2ecc71, #1abc9c);
}

.item-input, button {
    font-size: 16px;
    text-align: center;
}

.item-input {
    padding: 9px 12px;
    border-radius: 3px;
    border: 1px solid #b2bec3;
    color: #333;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

.item-input::-webkit-outer-spin-button,
.item-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 3px;
    color: white;
    border: none;
    font-weight: 700;
}

button:disabled {
    background: #f1f2f6;
    border: none;
    color: #333;
    cursor: auto;
    touch-action: manipulation;
}
