* {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --secon-bg-color: #323946;
    --text-color: #fff;
    --main-color: #a21caf;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 8rem 7% 2rem;
}

/* Navbar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar {
    display: flex;
    gap: 4rem;
}

.navbar a {
    font-size: 1.6rem;
    color: var(--text-color);
    transition: all 0.3s;
}

.navbar a:hover {
    color: var(--main-color);
}

/* Hero */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.home-img {
    position: relative;
}

.home-img img {
    width: 35vw;
}

.home-img-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    clip-path: polygon(20% 15%, 80% 15%, 100% 70%, 0% 70%);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.5rem;
}

.home-span {
    position: relative;
}

.frontend-span, .backend-span, .fullstack-span {
    position: absolute;
    color: transparent;
    background-color: var(--main-color);
    background-clip: text;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0.7rem;
}

.frontend-span {
    animation: animate-front 5s linear infinite;
}

.backend-span {
    animation: animate-back 5s linear infinite;
}

.fullstack-span {
    animation: animate-full 5s linear infinite;
}

.last-span {
    margin-left: 15rem;
    color: var(--text-color);
}

/* Span Animations */

@keyframes animate-front {
    0% {
        width: 0;
    }
    15% {
        width: 100%;
    }
    33% {
        width: 0;
    }
}

@keyframes animate-back {
    33% {
        width: 0;
    }
    48% {
        width: 100%;
    }
    66% {
        width: 0;
    }
}

@keyframes animate-full {
    66% {
        width: 0;
    }
    81% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/* Social Link */

.social-links {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.social-links a {
    display: inline-flex;
    font-size: 6rem;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.social-links a:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    background-clip: text;
    text-shadow: 0 0 1rem var(--main-color);
    transition: all 0.3s;
}

/* About Section */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: var(--secon-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
}

.about-content h3 {
    font-size: 2.7rem;
}

.about-content p {
    font-size: 1.4rem;
    margin: 2rem 0 4rem;
}

.about-btn {
    padding: 1rem 3rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--secon-bg-color);
    filter: drop-shadow(0 0 2rem var(--main-color));
    transition: all 0.3s;
}

.about-btn:hover {
    filter: none;
    color: var(--text-color);
}

.about-img img {
    animation: anim 30s infinite;
    background-color: var(--main-color);
    filter: drop-shadow(0 0 10rem var(--main-color));
    border: 3px solid var(--text-color);
    border-radius: 30% 70% 10% 90% / 25% 45% 55% 75%;
}

@keyframes anim {
    0%,
    100% {
      border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
    }
  
    10% {
      border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
    }
  
    20% {
      border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
    }
  
    30% {
      border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
    }
  
    40% {
      border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
    }
  
    50% {
      border-radius: 100%;
    }
  
    60% {
      border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
    }
  
    70% {
      border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
    }
  
    80% {
      border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
    }
  
    90% {
      border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
    }
  }