footer {
    background-color: var(--main-color);
    padding: 10px 26.8vh;
}

footer .logo {
    cursor: default;
    height: 50px;
}

footer .logo img {
    height: 50px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40rem;
    padding: 2vh;
}

.links h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

.links li {
    line-height: 2.7rem;
    list-style: none;
}

@media (max-width: 576px) {
    footer {
        padding: 10px 2rem;
    }

    footer .logo {
        height: 100px;
    }

    footer .logo img {
        height: 100px;
    }

    footer p {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 4rem;
        padding: 2vh;
    }

    .links h3 {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .links li {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 4rem;
        list-style: none;
    }
}